html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#52c8ff, #006eff);

    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               "Roboto", "Helvetica", "Arial", sans-serif,
                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    color: white;
    text-decoration: underline;
}

h2 {
    color: white
}

.interact_row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.row_button {
    background-color: #0069f3da;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

.content_div {
    background: linear-gradient(#0077ff, #0c39ff);
    border-radius: 25px;
    max-width: 550px;
    margin: auto;
    padding: 15px;
}
